################################################################################
# Requirements
################################################################################

#-------------------------------------------------------------------------------
# Packages
#-------------------------------------------------------------------------------

### pip3-venv ###
flask
	- microframework for Python web development

